<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start" (click)="navCtrl.back()">
      <ion-icon class="mediumIcon ion-float-left" name="arrow-round-back"></ion-icon>
    </ion-buttons>
    <ion-card-content class="ion-no-padding">

      <ion-title class="projectTitle bold twentyPt">
        New Item
      </ion-title>
    </ion-card-content>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- FAB -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-list-header>
      <ion-label color="dark" class="bold fifteenPt">Item</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input [(ngModel)]="titleInput"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Project</ion-label>
      <ion-select [(ngModel)]="projectInput" placeholder="Select One">
        <ion-select-option *ngFor="let project of projectsService.projects" value="{{project.id}}">{{project.title}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea [(ngModel)]="descriptionInput" ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Add Image</ion-label>
      <ion-input [(ngModel)]="imageInput" type="file" accept="image/*"></ion-input>

      <!-- <ion-input></ion-input> -->
    </ion-item>



  </ion-list>


</ion-content>