/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


:root {
    // success, warning, danger, light, medium
    --ion-color-primary: #504D55;
    --ion-color-secondary: #FFC50C;
    --ion-color-tertiary: #FF5668;
    --ion-color-dark: #25262C;
    --ion-color-base: #25262C;
}

@font-face {
    font-family: 'Campton';
    src: url('/assets/fonts/campton/Campton-Bold.otf');
  }

ion-toolbar {
    border-radius: 0 0 8px 8px;
}
ion-title{
  text-align: center;
  color: #fff !important;
}
ion-header::after {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-image: none !important;
    bottom: 0px !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: 100px !important;
}
ion-card {
    border-radius: 10px !important;
    background-color: #fff !important;
    min-width: 150px;
}
ion-list-header {
    padding:25px 0 15px 25px;
}
ion-list {
    width:100%;
}

.headerCard {
    margin: 0 30px 20px 30px;

}

.bold {
    font-family: 'Campton';
    font-weight: 600;
    font-size: 15pt;
    color: var(--ion-color-base);
}

.categoryContainer {
    overflow-x: scroll!important;
        overflow-y: hidden;
        word-wrap: break-word;
}

.categoryContainerStart {
    padding-left: 20px ;
}