/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


:root {
    // success, warning, danger, light, medium
    --ion-color-primary: #504D55;
    --ion-color-secondary: #FFC50C;
    --ion-color-tertiary: #FF5668;
    --ion-color-dark: #25262C;
    --ion-color-base: #25262C;
    --ion-color-success: #318176;
}
// Color Classes
.secondaryColor {
    background-color: var(--ion-color-secondary);
}
.secondaryColor > ion-card-header {
    color: #fff !important;
}
.tertiaryColor {
    background-color: var(--ion-color-tertiary);
}
.tertiaryColor > ion-card-header {
    color: #fff !important;
}
.successColor {
    background-color: var(--ion-color-success);
    color: #fff !important;
}
.successColor > ion-card-header {
    color: #fff !important;
}

@font-face {
    font-family: 'Campton';
    src: url('/assets/fonts/campton/Campton-Bold.otf');
}

@font-face {
    font-family: 'Acherus-Grotesque';
    src: url('/assets/fonts/acherus-grotesque/Acherus-Grotesque-Regular.otf')
}

* {
    font-family: 'Acherus-Grotesque';
}

ion-toolbar {
    border-radius: 0 0 8px 8px;
}
ion-title{
  text-align: center;
  color: #fff !important;
  padding: 10px;
}
ion-header::after {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-image: none !important;
    bottom: 0px !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: 100px !important;
}
ion-card {
    border-radius: 10px !important;
    background-color: #fff;
    min-width: 150px;
}
ion-list-header {
    padding:25px 0 15px 25px;
}
ion-list {
    width:100%;
}
.homeTitle {
    background-color: var(--ion-color-base);
    z-index: 100;

}
.whiteFont {
    color:#fff !important;
}

.headerCard {
    margin: 0 30px 20px 30px;
    background-color: #fff !important;

}

.bold {
    font-family: 'Campton';
    font-weight: 600;
    color: var(--ion-color-base);
}

.fifteenPt {
    font-size: 15pt;
}

.twentyPt {
    font-size: 20pt;
}
.twentyFivePt {
    font-size: 25pt;
    padding-left:0px;
    padding-bottom:0px;
}

.categoryContainer {
    overflow-x: scroll!important;
    overflow-y: hidden;
    word-wrap: break-word;
    padding-left: 14px ;
}

.iconContainer {
    text-align:center;
}

.mediumIcon {
    font-size:30px;
    position: fixed;
    padding-left:15px;
}
.largeIcon {
    font-size: 50px;
    padding: 15px 0px;
  }

ion-fab-button[data-desc] {
    position: relative;
  }
  
  ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 55px;
    bottom: 3px;
    background-color: #fff;
    padding: 7px;
    border-radius: 4px;
    // color: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
  }