<ion-header>
  <ion-toolbar color="primary">
    <ion-card-content class="homeTitle">
      <ion-title class="bold twentyPt">
        Track
      </ion-title>
    </ion-card-content>
    <ion-card class="headerCard" [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-header class="bold twentyFivePt">
                {{ projectsService.usageCount }}
              </ion-card-header>
              <ion-card-title>
                Items used in the past month
              </ion-card-title>
            </ion-col>
            <ion-col>
              <!-- https://bootsoon.github.io/ng-circle-progress/ -->
              <circle-progress [percent]="projectsService.usagePercentage" [radius]="60" [outerStrokeWidth]="10" [outerStrokeColor]="'#FF5668'"
                [innerStrokeWidth]="6" [innerStrokeColor]="'#e7e8ea'" [space]="-7" [titleFontSize]="36"
                [unitsFontSize]="36" [showSubtitle]="0" [animation]="true" [animationDuration]="300"></circle-progress>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" #pageContent>
  <!-- FAB -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button [routerLink]="'/new-project'" color="tertiary" data-desc="Project">
        <ion-icon name="construct"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [routerLink]="'/new-item'" color="tertiary" data-desc="Item">
        <ion-icon name="pricetag"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-list>
    <ion-list-header>
      <ion-label color="dark" class="bold fifteenPt">Projects</ion-label>
    </ion-list-header>
    <ion-grid class="ion-no-padding">
      <!-- PROJECTS -->
      <ion-row nowrap class="categoryContainer">
        <ion-col *ngFor="let project of projectsService.projects; let i = index" class="ion-no-padding">
          <ion-card [routerLink]="'/project/' + project.id" class="colorCard" [ngClass]="cardColorClasses[i%3]">
           <h2 class="whiteFont projectCount">{{project.items.length}}</h2>
            <ion-card-header class="whiteFont bold fifteenPt">
              {{project.title}}
            </ion-card-header>
            <ion-card-content>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <!-- POPULAR ITEMS -->
      <ion-row>
        <ion-list class="ion-no-padding">
          <ion-list-header>
            <ion-label color="dark" class="bold fifteenPt">Popular Items</ion-label>
          </ion-list-header>
          <ion-item *ngFor="let item of projectsService.topFiveItems; let i = index" >
            <ion-avatar slot="start">
              <span>{{item.usecount}}</span>
            </ion-avatar>
            <ion-label>
              <h2>{{item.title}} <span *ngIf="item.description">- {{item.description}}</span></h2>
              <p>{{item.project}}</p>
            </ion-label>
          </ion-item>

        </ion-list>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>